.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; 
    color: #fff; 
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%;
    z-index: 1000; 
    box-sizing: border-box; 
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .github-link {
    text-decoration: none;
  }
  
  .github-button {
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .github-button i { 
    margin-right: 8px;
  }

  .github-button:hover {
    background-color: #252525;
  } 
  